
* {
    box-sizing: border-box;
    font-family: 'Montserrat';
    
  }
  body{
      background-color: black;
  }

  .contact{
      color: white;
      text-align:center;
      
  }

  .contact h2{
      margin-top: 40px;
  }

  .contact p{
      margin-top: 15px;
  }
  
  /* Style inputs */
  input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 16px;
    /* margin-right: 100px; */
    resize: vertical;
    color: black;
    
  }

  .column label{
      color: white;
      font-weight: bolder;

  }

  
  input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 45%
}

  input[type=submit]:hover {
    background-color: #65aed4;
    color: black;
  }
  
 

.column {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    width: 700px;
    margin-top: 70px;
    border-radius: 7px; 
    background: rgba(41, 128, 185,0.7);
    /* box-shadow: 0 10px 15px rgba(179,179,179,0.7); */
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%); 
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  /* @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  } */


  @media only screen and (max-width: 1400px) {
    .column {
        width: 60%;
        margin: auto;
        margin-bottom: 4rem;
    }
}
/* Compatibility for Portrait Devices */
@media only screen and (max-width: 900px) {
    .column {
        width:75%;
        margin: auto;
        margin-top: 3.75rem;
    }
    /* .contact h2{
      margin-top: 10px;
      font-size: 15px;
  }

  .contact p{
      margin-top: 10px;
      font-size: 11px; 
  }*/

}

  /* @media screen and (max-width: 600px) {
    .column{
      width: 400px;
      margin-top: 10px;

    }
    input[type=text], textarea {
      width: 85%;
      margin-top: 10px;
    }

    
  }

  @media screen and (max-width: 500px) {
    .column{
      width: 300px;
    }

    input[type=text], textarea {
      width: 75%;
    }
  }
  @media screen and (max-width: 400px) {
    .column{
      width: 200px;
      margin-top: 10px;
    }
  } */