body {
	margin: 0;
	height: 100vh;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #E7E0C9;
	font-family: "Roboto", Geneva, Tahoma, sans-serif;
	font-size: 16px;
	font-smooth: auto;
	font-weight: 300;
	line-height: 1.5;
	color: rgb(14, 14, 14);
}

h1 {
	margin: 3%;
	color: #261b2c;
}

/* search bar */
.search {
	width: 100%;
	position: relative;
	display: flex;
	margin: 3%;
}

.searchTerm {
	width: 50%;
	border: 3px solid white;
	border-right: none;
	padding: 5px;
	height: 36px;
	border-radius: 8px 0 0 8px;
	outline: none;
	color: #2c3b5e;
}

.searchTerm:focus {
	color: #2c3b5e;
}

.searchButton {
	width: 40px;
	height: 36px;
	border: 1px solid white;
	background: white;
	text-align: center;
	color: black;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}

/* course cards */
figure {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 600px;
	height: 300px;
	border-radius: 10px;
	/* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
	box-shadow: 0 1px 3px rgba(238, 235, 235, 0.036), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 1.2s cubic-bezier(0.25, 0.8, 0.25, 1);
	overflow: hidden;
	background: white;
}

figure:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

figure:hover img {
	transform: scale(1.1);
}

figure:hover figcaption {
	top: 0;
	border-top-left-radius: 0px;
}

figure figcaption button:hover {
	background-color: #040a1d;
	color: white;
}

figure h1 {
	position: absolute;
	top: 50px;
	left: 20px;
	margin: 0;
	padding: 0;
	color: white;
	font-size: 60px;
	font-weight: 100;
	line-height: 1;
}

figure img {
	box-sizing: border-box;
	left: 0%;
	height: 100%;
	padding-left: 1rem;
	padding-right: 2.5rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	transition: 0.25s;
}

figure figcaption {
	position: absolute;
	top: 80%;
	left: 50%;
	width: 40%;
	height: 100%;
	margin: 0;
	padding: 30px;
	/* background-color: rgba(0, 0, 0, 0.85); */
	/* background: radial-gradient(#1fe4f5, #03a9b8); */
	/* background: radial-gradient(#60efbc, #58d5c9); */
	background: radial-gradient(#98DDCA, #49c7a4);
	border-top-left-radius: 0.8rem;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	color: white;
	line-height: 1;
	transition: 0.25s;
}

figure figcaption h3 {
	margin: 0 0 20px;
	padding: 0;
}

figure figcaption p {
	font-size: 14px;
	line-height: 1.75;
}

figure figcaption button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.8rem;
	padding: 10px 30px;
	background-color: #1a40bc;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 14px;
}

/* flexbox arrangement of courses */
.courses-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.course-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* scroll bar in course card */
/* .scroll-bar {
	overflow-y: auto;
	direction: ltr;
	scrollbar-color: #faf9f6 #eeebeb;
	scrollbar-width: thin;
}

.scroll-bar::-webkit-scrollbar {
	width: 15px;
}
	
.scroll-bar::-webkit-scrollbar-track {
	background-color: #322e2e;
	border-radius: 100px;
}
	
.scroll-bar::-webkit-scrollbar-thumb {
	border-radius: 100px;
	border: 6px solid rgba(0, 0, 0, 0.18);
	border-left: 0;
	border-right: 0;
	background-color: #e4e4e8;
} */
